adf-dgq-hq/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dgq-hq"
		},
		"ls_azure_sql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_azure_sql'"
		},
		"ls_blob_storage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_storage'"
		},
		"ls_azure_sql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-dgq-hq.database.windows.net"
		},
		"ls_azure_sql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db-dgq-hq"
		},
		"ls_azure_sql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminDGQ"
		},
		"ls_key_vault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-dgq-hq.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_hq_governance_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline de gouvernance HQ - ingestion, qualité, chargement SQL",
				"activities": [
					{
						"name": "copy_hq_demande",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "demande (MW)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "demande (MW)",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_hq_demande_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_hq_demande_landing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_hq_secteur",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_hq_secteur_raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_hq_secteur_landing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "df_run_transform_hq_demande",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "copy_hq_demande",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_transform_hq_demande",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcedemande": {},
									"sinkdemandesql": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_run_transform_hq_secteur",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "copy_hq_secteur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_transform_hq_secteur",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcesecteur": {},
									"sinksecteursql": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "sp_log_dq_checks_hq_demande",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "df_run_transform_hq_demande",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_log_dq_checks_hq_demande]"
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_log_dq_checks_hq_secteur",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "df_run_transform_hq_secteur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_log_dq_checks_hq_secteur]"
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-21T16:33:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_hq_demande_raw')]",
				"[concat(variables('factoryId'), '/datasets/ds_hq_demande_landing')]",
				"[concat(variables('factoryId'), '/datasets/ds_hq_secteur_raw')]",
				"[concat(variables('factoryId'), '/datasets/ds_hq_secteur_landing')]",
				"[concat(variables('factoryId'), '/dataflows/df_transform_hq_demande')]",
				"[concat(variables('factoryId'), '/dataflows/df_transform_hq_secteur')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_hq_demande_landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "hq_demande_electricite_raw.csv",
						"folderPath": "landing",
						"container": "dgq-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "demande (MW)",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_hq_demande_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "hq_demande_electricite_raw.csv",
						"folderPath": "raw",
						"container": "dgq-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "demande (MW)",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_hq_secteur_landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "hq_consommation_secteur_raw.csv",
						"folderPath": "landing",
						"container": "dgq-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "REGION_ADM_QC_TXT",
						"type": "String"
					},
					{
						"name": "ANNEE_MOIS",
						"type": "String"
					},
					{
						"name": "SECTEUR",
						"type": "String"
					},
					{
						"name": "Total (kWh)",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_hq_secteur_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "hq_consommation_secteur_raw.csv",
						"folderPath": "raw",
						"container": "dgq-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "REGION_ADM_QC_TXT",
						"type": "String"
					},
					{
						"name": "ANNEE_MOIS",
						"type": "String"
					},
					{
						"name": "SECTEUR",
						"type": "String"
					},
					{
						"name": "Total (kWh)",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_hq_demande')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "hq_demande"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_hq_secteur')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "hq_secteur"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_azure_sql_properties_typeProperties_server')]",
					"database": "[parameters('ls_azure_sql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_azure_sql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_azure_sql_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_storage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_key_vault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_key_vault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_transform_hq_demande')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_hq_demande_landing",
								"type": "DatasetReference"
							},
							"name": "sourcedemande"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_hq_demande",
								"type": "DatasetReference"
							},
							"name": "sinkdemandesql"
						}
					],
					"transformations": [
						{
							"name": "renamedemande"
						},
						{
							"name": "castdemande"
						},
						{
							"name": "windowShowDuplicates"
						},
						{
							"name": "filterDuplicates"
						},
						{
							"name": "windowNext"
						},
						{
							"name": "derivedinterpolation"
						},
						{
							"name": "windowIndex"
						},
						{
							"name": "windowPrevious"
						},
						{
							"name": "sortAsc"
						}
					],
					"scriptLines": [
						"source(output(",
						"          date as string,",
						"          {demande (MW)} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourcedemande",
						"sourcedemande select(mapColumn(",
						"          date,",
						"          demande_mw = {demande (MW)}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> renamedemande",
						"renamedemande derive(date = toTimestamp(\r",
						"    date,\r",
						"    \"yyyy-MM-dd'T'HH:mm:ssXXX\",\r",
						"    'UTC',\r",
						"    'en'\r",
						"),",
						"          demande_mw = toDouble(demande_mw)) ~> castdemande",
						"castdemande window(over(date),",
						"     asc(date, true),",
						"     row_num = rowNumber()) ~> windowShowDuplicates",
						"windowShowDuplicates filter(row_num==1) ~> filterDuplicates",
						"windowPrevious window(desc(date, true),",
						"     next_idx = last(iif(!isNull(demande_mw), idx, toInteger(null())), true()),",
						"          next_value = last(iif(!isNull(demande_mw), demande_mw, toDouble(null())), true())) ~> windowNext",
						"sortAsc derive(interpolate_mw = iif(\r",
						"    !isNull(demande_mw),\r",
						"    demande_mw,\r",
						"\r",
						"    iif(\r",
						"        isNull(prev_value) && !isNull(next_value),\r",
						"        next_value,\r",
						"\r",
						"        iif(\r",
						"            !isNull(prev_value) && isNull(next_value),\r",
						"            prev_value,\r",
						"\r",
						"            iif(\r",
						"                !isNull(prev_value) && !isNull(next_value) && next_idx != prev_idx,\r",
						"                prev_value + ((idx - prev_idx) * (next_value - prev_value) / (next_idx - prev_idx)),\r",
						"                prev_value\r",
						"            )\r",
						"        )\r",
						"    )\r",
						")) ~> derivedinterpolation",
						"filterDuplicates window(asc(date, true),",
						"     idx = rowNumber()) ~> windowIndex",
						"windowIndex window(asc(date, true),",
						"     prev_idx = last(iif(!isNull(demande_mw), idx, toInteger(null())), true()),",
						"          prev_value = last(iif(!isNull(demande_mw), demande_mw, toDouble(null())), true())) ~> windowPrevious",
						"windowNext sort(asc(date, true)) ~> sortAsc",
						"derivedinterpolation sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          date,",
						"          demande_mw = interpolate_mw",
						"     )) ~> sinkdemandesql"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_hq_demande_landing')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_hq_demande')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_transform_hq_secteur')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_hq_secteur_landing",
								"type": "DatasetReference"
							},
							"name": "sourcesecteur"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_hq_secteur",
								"type": "DatasetReference"
							},
							"name": "sinksecteursql"
						}
					],
					"transformations": [
						{
							"name": "renamesecteur"
						},
						{
							"name": "castsecteur"
						}
					],
					"scriptLines": [
						"source(output(",
						"          REGION_ADM_QC_TXT as string,",
						"          ANNEE_MOIS as string,",
						"          SECTEUR as string,",
						"          {Total (kWh)} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourcesecteur",
						"sourcesecteur select(mapColumn(",
						"          region = REGION_ADM_QC_TXT,",
						"          date = ANNEE_MOIS,",
						"          secteur = SECTEUR,",
						"          total_kwh = {Total (kWh)}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> renamesecteur",
						"renamesecteur derive(date = toDate(date, 'yyyy-MM-dd'),",
						"          total_kwh = toDouble(total_kwh),",
						"          secteur = initCap(lower(secteur)),",
						"          region = trim(region)) ~> castsecteur",
						"castsecteur sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          region,",
						"          date,",
						"          secteur,",
						"          total_kwh",
						"     )) ~> sinksecteursql"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_hq_secteur_landing')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_hq_secteur')]"
			]
		}
	]
}